<h1><strong>Auteur : </strong><%= @gossip.anonymous_author %></h1>

<p><%= @gossip.content %></p>

<p>
	<a href='<%= gossips_path %>' class='btn btn-primary'>Revenir a la liste des gossips</a>
	<a href='<%= edit_gossip_path %>' class='btn btn-warning'>Editer</a>
</p>